@import '../../components/scss/colors';
@import '../../components/scss/mixins';

.articles-section{
    width: 100%;
    .article-items{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        justify-items: center;
        align-items: center;
        .items{
           @include catalog();
        }
    }
}